body{
	background-color: #fff;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.container{
	margin: 0 auto;
	padding: 0;
	width: 950px;
}

#header{
	padding: 13px 0;
	background-color: #000;
	color: #fff;
	font-size: 24px;
}
	#greetings{
		float: right;
		font-size: 14px;
		margin-top: 6px;
	}

	#logout{
		color: #fff;
		text-decoration: none;	
	}
	
	a#logout:hover{
		text-decoration: underline;
	}

#navbar{
	background-color: #eee;
}

#nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid #ccc;
}

#nav li{
	float: left;
	margin: 0;
	padding: 0;
}

#nav li a,
#nav li a:visited{
	padding: 8px 15px;
	display: block;
	border-right: 1px solid #ccc;
	background-color: #eee;
	text-decoration: none;
	color: #333;
	font-size: 12px;
}

#nav li a:hover{
	background-color: #ddd;
	color: #fff;
}

#nav li a#nav_selected{
	font-weight: bold;
	background-color: #ddd;
}

#content{
	padding: 10px 15px 0;
}

	.layout{
		border-collapse: collapse;
		width: 100%;
	}
	
	.layout tr td{
		vertical-align: top;
		padding: 0px 15px 15px 0;
		/*border: 1px solid #ccc;*/
	}
	
	.layout tr td h2{
		margin: 10px 0 10px;
		padding: 0;
		font-size: 18px;
	}

#footer{
	clear: both;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}